# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
com-component-algorithm_/target/
com-component-db-read-write/target/
com-component-disconf-web/target/
com-component-dubbo-api/target/
com-component-dubbo-consume/target/
com-component-dubbo-provider/target/
com-component-hibernate/target/
com-component-high-concurrency-seckill/target/
com-component-hign-concurrency/target/
com-component-jdbc/target/
com-component-jndi/target/
com-component-logger/target/
com-component-mq-web/target/
com-component-mq/target/
com-component-mybatis/target/
com-component-mybatis3-spring4/target/
com-component-nginx/target/
com-component-nosql/target/
com-component-poi/target/
com-component-scheduled/target/
com-component-shiro-web/target/
Woul
d remove com-component-shiro-web/target/com-component-shiro-web/WEB-INF/lib/mybatis-3.2.1.jar
com-component-shiro/target/
com-component-spring-boot_/target/
com-component-spring-boot_web/target/
com-component-spring-mvc-login/target/
com-component-spring/target/
com-component-springmvc/target/
com-component-sso-client-one/target/
com-component-sso-client-sec/target/
com-component-sso/target/
com-component-struts2/target/
com-component-test-t
mp/target/
com-component-test-web/src/test/
com-component-test-web/target/
com-component-test/target/
com-component-util-annotation/target/
com-component-util-array/target/
com-component-util-base-web/target/
com-component-util-cache/target/
com-component-util-class/target/
com-component-util-collection/target/
com-component-util-datetime/target/
com-component-util-designmodule/target/
com-component-util-encrypt/target/
com-component-util-exception/target/
com-component-util-execute/target/
com-component-util-json/target/
com-component-util-math/target/
com-component-util-mockito/target/
com-component-util-pattern/target/
com-component-util-plugins-web/target/
com-component-util-reflect/target/
com-component-util-serializable/target/
com-component-util-sort/target/
com-component-util-stringnumbric/target/
com-component-u
til-stringnumbric/target/classes/component/trans/
com-component-util-thread/target/
com-component-webservice-client/target/
com-component-zookeeper/target/
com-interview-recond/target/
com-src-code-test/target/
out/
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

com-component-algorithm_/src/main/java/component/list/
com-component-db-read-write/src/test/
com-component-disconf-web/src/main/resources/
com-component-mq/src/main/java/rabbit/spring_rabbit/
com-component-mq/src/main/java/rocket/
com-component-mybatis/src/main/java/component/module/mybatis/TestCase/
com-component-mybatis/src/main/java/org/
com-component-nosql/src/main/java/component/memcached/
com-component-scheduled/src/main/test/
com-component-shiro-web/src/main/test/
com-component-spring-boot_web/com-component-spring-mvc/src/test/
com-component-spring-boot_web/com-component-spring-mvc/target/com-component-spring-mvc/META-INF/
com-component-spring-boot_web/com-component-spring-mvc/target/generated-sources/
com-component-spring-mvc-login/src/test/
com-component-springmvc/src/main/test/
com-component-sso-client-one/src/main/resources/
com-component-sso-client-sec/src/main/resources/
com-component-sso/src/main/java/
com-component-sso/src/main/test/
com-component-util-base-web/src/main/java/com/base/util/io/
com-component-util-base-web/src/main/java/com/base/util/nio/
com-component-util-base-web/src/main/resources/
com-component-util-base-web/src/main/test/
com-component-util-class/src/main/java/component/jvm/
com-component-util-class/src/main/resources/
com-component-util-encrypt/src/main/java/md5/
com-component-util-execute/src/main/java/procedure/
com-component-util-plugins-web/src/main/java/
com-component-util-plugins-web/src/main/test/
com-component-webservice-client/src/main/resources/
com-component-webservice-client/src/main/test/
com-component-zookeeper/src/main/resources/
com-interview-recond/src/doc/algorithm/binary-tree/
com-interview-recond/src/doc/algorithm/list/
com-interview-recond/src/doc/algorithm/queue/
com-interview-recond/src/doc/algorithm/sort/
com-interview-recond/src/doc/algorithm/string/
com-interview-recond/src/doc/db/mongodb/
com-interview-recond/src/doc/db/nosql/
com-interview-recond/src/doc/db/oracle/
com-interview-recond/src/doc/java-distributed/nginx/
com-interview-recond/src/doc/java-web/css/
com-interview-recond/src/doc/java-web/html/
com-interview-recond/src/doc/java-web/js/
com-interview-recond/src/doc/java-web/jsp/
com-interview-recond/src/doc/plugin/mq/
com-interview-recond/src/doc/plugin/solr/
com-interview-recond/src/main/java/component/java_se/jdk1_8/new_features_10/
com-interview-recond/src/main/java/component/java_se/jdk1_8/new_features_5/
com-interview-recond/src/main/java/component/java_se/jdk1_8/new_features_6/
com-interview-recond/src/main/java/component/java_se/jdk1_8/new_features_7/
com-interview-recond/src/main/resources/
com-src-code-test/src/main/java/conllection/
com-src-code-test/src/main/java/framework/
com-src-code-test/src/main/java/sort/
