<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <!--见上：默认自动装配 byName byType constructor No-->

    <bean id="autoWritingService"
          class="component.spring.autowrite.AutoWiringService"/>

    <bean id="autoWiringDao"
          class="component.spring.autowrite.AutoWiringDao"/>



</beans>