<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springTaskTimer" class="second.type.SpringTaskTimer"/>

    <!--<bean id="scheduleReportTask" class="org.springframework.scheduling.timer.ScheduledTaskTimer">-->
        <!--<property name="timerTask" ref="springTaskTimer"/>-->
        <!--<property name="period"><value>6000</value></property>-->
        <!--<property name="delay"><value>1000</value></property>-->
    <!--</bean>-->

    <!--<bean id="scheduleReportTask" class="org.springframework.scheduling.timer.TimerFactoryBean">-->
        <!--<property name="scheduleReportTasks"/>-->
        <!--<list>-->
            <!--<ref bean = "scheduleReportTask"/>-->
        <!--</list>-->
    <!--</bean>-->

</beans>