<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <import resource="applicationContext-mq.xml"/>

    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.JsonMessageConverter"/>

    <!--fanout模式-->
    <!--<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"-->
                     <!--exchange="test-mq-exchange-fanout" message-converter="jsonMessageConverter"/>-->

    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"
                     exchange="test-mq-exchange-direct" message-converter="jsonMessageConverter"/>

</beans>